
<div class="panel-footer bdtop-none" ng-controller="pagingCtrl as p" ng-show="p.totalPage > 1">
    <ul class="pagination pagination-sm mn">
    	<li class="paginate_button previous" ng-class="{'disabled': p.params.p == 1}">
             <a href="javascript:void(0);" ng-click="p.GoToPage(1)"><i class="fa fa-angle-double-left"></i></a>
         </li>
         <li class="paginate_button previous" ng-class="{'disabled': p.params.p == 1}">
             <a href="javascript:void(0);" ng-click="p.PreviousPage()"><i class="fa fa-chevron-left"></i></a>
         </li>
         <li class="paginate_button" ng-if="p.startNum > 1">
             <a href="javascript:void(0)" ng-click="p.GoToPage(1)">1</a>
         </li>
         <li class="paginate_button disabled" ng-if="p.startNum > 2"><a>…</a></li>
         <li ng-repeat="i in p.getNumber(p.totalPage) track by $index" ng-class="{'active': p.params.p == $index + 1}"
         	ng-if="$index + 1 >= p.startNum && $index + 1 <= p.endNum">
             <a href="javascript:void(0)" ng-click="p.GoToPage($index + 1)">{{$index + 1}}</a>
         </li>
         <li class="paginate_button disabled" ng-if="p.endNum < p.totalPage - 1"><a>…</a></li>
         <li class="paginate_button" ng-if="p.totalPage > p.CountShowPage && p.endNum < p.totalPage - 1" ng-class="{'active': p.params.p == p.totalPage}">
             <a href="javascript:void(0)" ng-click="p.GoToPage(p.totalPage)">{{p.totalPage}}</a>
         </li>
         <li class="paginate_button next" ng-class="{'disabled': p.params.p >= p.totalPage}">
             <a href="javascript:void(0)" ng-click="p.NextPage()">
                 <i class="fa fa-chevron-right"></i>
             </a>
         </li>
         <li class="paginate_button previous" ng-class="{'disabled': p.params.p == p.totalPage}">
             <a href="javascript:void(0);" ng-click="p.GoToPage(p.totalPage)"><i class="fa fa-angle-double-right"></i></a>
         </li>
     </ul>
     <p class="pagination pagination-description" ng-if="p.IsShowCount">
        Display {{p.startIndex}} to {{p.endIndex}} of {{p.totalCount}} records
    </p>
</div>