<div class="col-md=12 course-img-wrapper"
	ng-style="{'background-image':'url(' + getImageUrl(courseImage) + ')'}">
<!-- 	<img ng-src="{{courseImage}}" /> -->
</div>
<label class="field prepend-icon append-button file" ng-if="isEnable">
     <span class="button btn-primary">Choose File</span>
     <input type="file" class="gui-file" accept="image/*" onchange="angular.element(this).scope().onSelectCourseImage(this)">
     <input type="text" class="gui-input" placeholder="Please Select An Image" value="{{fileName}}">
     <label class="field-icon"><i class="fa fa-upload"></i></label>
 </label>