<form class="form-horizontal form-text-only property-item" ng-repeat="property in vm.listStudentProperty"
	ng-class="{'mt10': $index > 0}">
	<div class="row">
		<div class="col-md-4">
			<div class="col-md-12">
				<label class="control-label fw600">Property Name:</label>
			</div>
			<div class="col-md-12">{{property.propertyName}}</div>
		</div>
		<div class="col-md-4">
			<div class="col-md-12">
				<label class="control-label fw600">Start time:</label>
			</div>
			<div class="col-md-12">{{property.startTime | dateTimeVN}}</div>
		</div>
		<div class="col-md-4">
			<div class="col-md-12">
				<label class="control-label fw600">End time:</label>
			</div>
			<div class="col-md-12">{{property.endTime | dateTimeVN}}</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="col-md-12">
				<label class="control-label fw600">Question:</label>
			</div>
			<div class="col-md-12">{{property.activityName}}</div>
		</div>
		<div class="col-md-8">
			<div class="col-md-12">
				<label class="control-label fw600">Time spend:</label>
			</div>
			<div class="col-md-12">{{property.timeSpend | unitTimeSpend}}</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-12">
				<label class="control-label fw600">Answer:</label>
			</div>
			<div class="col-md-12">{{property.traineeAnswer}}</div>
		</div>
	</div>
</form>
<p class="mn" ng-if="(vm.listStudentProperty == null || vm.listStudentProperty.length == 0) && !IsShowLoading()">
	No property activity found!
</p>
<p class="mn" ng-if="IsShowLoading()">
	Loading...
</p>